img{
    width: 176px;
    height: 170px;
}

.mb-3{
    width: 390px;
    /* margin-bottom: 0px; */
    padding: 0px;
    height: 35px;

}
button{
    margin-top: 20px;
    width: 400px;
}

a{
    text-decoration: none;
    display: inline-block;
}
.card{
    box-shadow: 4px 3px 26px 1px rgba(0,0,0,0.48);
    /* width: 400px;
     */
}